*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.main{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1612544448445-b8232cff3b6c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

.searchbar{
    position: absolute;
    top: 20px;
    left: 76%;
    color: white;
}

i{
    position: relative;
    font-size: 30px;
    top: 8px;
   
}

i:hover{
    color: rgb(85, 65, 65);
}

input{
    height: 35px;
    width: 300px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.137);
    background: linear-gradient(135deg rgba(255,255,255,5), );
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 30px;
    border: 1px solid grey;
    padding: 0px 15px;
}

::placeholder{
    color: rgb(201, 201, 201);
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
    letter-spacing: 2px;
}

input:hover{
    border: 3px solid white;
}

.maintext{
    position: absolute;
    top: 26%;
    left: 8%;
    color: white;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

.para{
    position: absolute;
    top: 41%;
    left: 8.5%;
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
}

.button{
    position: absolute;
    top: 50%;
    left: 12%;
}

button{
    height: 32px;
    width: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    letter-spacing: 2px;
}

#a{
    color: white;
    border-radius: 30px;
    border: 3px solid rgb(255, 255, 255);
    padding: 0px 15px;
    background-color: transparent;
        
}

#a:hover{
    background-color: rgb(85, 65, 48);
   
}

#b{
    border-radius: 30px;
    border: 3px solid white;
    padding: 0px 15px;    
    margin-left: 30px;
}

#b:hover{
    background-color: rgb(85, 65, 48);
    color: white;
}

.price{
    display: flex;
    position: absolute;
    bottom: 5%;
    right: 20%;
    margin-left: 20px;
    height: 180px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.093);
    border-radius: 10%;
    background: linear-gradient(135deg rgba(255,255,255,5), );
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    font-family: 'Times New Roman', Times, serif;
}

.price2{
    display: flex;
    position: absolute;
    bottom: 5%;
    right: 2%;
    margin-left: 20px;
    height: 180px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.093);
    border-radius: 10%;
    background: linear-gradient(135deg rgba(255,255,255,5), );
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    font-family: 'Times New Roman', Times, serif;
}

#p0{
    position: absolute;
    left: 30%;
    top: 10%;
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

#p9{
    position: absolute;
    top: 80px;
    left: 40px;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;


}

#p8{
    position: absolute;
    top: 80px;
    left: 160px;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#pb1{
    position: absolute;
    top: 130px;
    width: 80px;
    left: 30px;
    border-radius: 30px;
    border: 3px solid rgb(255, 255, 255);
    padding: 0px 15px;
    background-color: transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#pb2{
    position: absolute;
    top: 130px;
    left: 140px;
    width: 80px;
    border-radius: 30px;
    border: 3px solid transparent;
    padding: 0px 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0.688);

}

#pb1:hover{
    background-color: white;
    color: black;
}

#pb2:hover{
    background-color: white;
    
}